numpy==1.19.5
numpy_groupies==0.9.7
dask==2.12.0
xlrd==1.1.0
tensorflow==2.4.1
sidpy==0.0.5
ipywidgets==7.6.3
scikit_image==0.16.2
joblib==1.0.1
pip==19.3.1
ipython==7.22.0
pyqtgraph==0.12.1
pyUSID==0.0.10
scikit_learn==0.24.1
skimage==0.0
sphinx_rtd_theme==0.5.2
wget==3.2
BGlib==0.0.2
autopep8==1.5.4
Pillow==8.1.0
pycodestyle==2.6.0
toml==0.10.2
torch==1.8.0.dev20210123+cu101
torchaudio==0.7.2
torchvision==0.8.2+cu101
typing-extensions==3.7.4.3
pycroscopy==0.60.7
matplotlib==3.2.2
moviepy==0.2.3.5
h5py==2.10.0
scipy==1.4.1